<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Applicant Details</h1>
    <br>

    <ul class="font-weight-bold">
        <li>
            <a href="#details">Personal Details</a>
        </li>
        <li>
            <a href="#interview">Interview Responses</a>
        </li>
        <li>
            <a href="#personality-interview">Personality Interview Responses</a>
        </li>
        <li>
            <a href="#personality-interview">Physical Testing Responses</a>
        </li>
    </ul>

    <br>

    <div class="form-group" id="details">

        <label class="text-muted"><small>Name:</small></label>
        <p th:text="${applicant.firstName + ' ' + applicant.lastName}" class="font-weight-bold"></p>

        <label class="text-muted"><small>Email:</small></label>
        <p th:text="${user.email}"></p>

        <label class="text-muted"><small>Address:</small></label>
        <p th:text="${applicant.address}"></p>

        <label class="text-muted"><small>Postcode:</small></label>
        <p th:text="${applicant.postcode}"></p>

        <label class="text-muted"><small>Date of Birth:</small></label>
        <p th:text="${applicant.dob}"></p>

        <label class="text-muted"><small>Gender:</small></label>
        <p th:text="${applicant.gender}"></p>

        <label class="text-muted"><small>Phone Number:</small></label>
        <p th:text="${applicant.phoneNumber}"></p>

        <label class="text-muted"><small>Height:</small></label>
        <p th:text="${applicant.height}"></p>

        <label class="text-muted"><small>College/University:</small></label>
        <p th:text="${applicant.collegeOrUniversityName}"></p>

        <label class="text-muted"><small>Passport Holder</small></label>
        <p th:text="${applicant.passportHolder}"></p>

        <label class="text-muted"><small>Has been previously tested?</small></label>
        <p th:text="${applicant.isPreviouslyTested}"></p>

        <label class="text-muted"><small>Where did you hear about us?</small></label>
        <p th:text="${applicant.whereDidHear}"></p>

    </div>

    <br>

    <h3 id="interview">Interview Responses</h3>

    <div th:if="${interview == null}">
        <p class="text-muted mt-3">
            This applicant has not completed their interview yet.
        </p>
    </div>
    <div th:if="${interview != null}">

        <br>
        <label class="text-muted"><small>What to you is the difference between taking part and competing in sport? What does High Performance/Elite Sport mean?</small></label>
        <p th:text="${interview.elitesportdeff}"></p>

        <label class="text-muted"><small>What is your experience and feelings about sport to date?</small></label>
        <p th:text="${interview.sportexp}"></p>

        <label class="text-muted"><small>What are your aspirations? (in rowing and outside rowing)</small></label>
        <p th:text="${interview.aspirations}"></p>

        <label class="text-muted"><small>What can you bring to this high-performance training environment?</small></label>
        <p th:text="${interview.whatcanyoubring}"></p>

        <label class="text-muted"><small>What is the role of the coaches to you?</small></label>
        <p th:text="${interview.coachRole}"></p>

        <label class="text-muted"><small>What, if any, are potential barriers to your compliance and success on a programme like this?</small></label>
        <p th:text="${interview.possiblebarriers}"></p>

        <label class="text-muted"><small>What motivates you when training (from 1 to 10 where 10 is Outcome and 1 is Process)?</small></label>
        <p th:text="${interview.processoroutcome}"></p>

        <label class="text-muted"><small>What motivates you when training (from 1 to 10 where 10 is Extrinsic and 1 is Intrinsic)?</small></label>
        <p th:text="${interview.intrinsicorextrinsic}"></p>

        <label class="text-muted"><small>What does this opportunity mean to you?</small></label>
        <p th:text="${interview.opportunitymeaning}"></p>

        <label class="text-muted"><small>Do you have any role models? Why them?</small></label>
        <p th:text="${interview.rolemodels}"></p>

        <label class="text-muted"><small>Your story</small></label>
        <p th:text="${interview.yourstory}"></p>

    </div>

    <br>

    <h3 id="personality-interview">Personality Interview Responses</h3>

    <div th:if="${personalityInterview == null}">
        <p class="text-muted mt-3">
            This applicant has not completed their personality interview yet.
        </p>
    </div>
    <div th:if="${personalityInterview != null}">

        <br>
        <label class="text-muted"><small>Risk-taking</small></label>
        <p th:text="${personalityInterview.risktaking}"></p>

        <label class="text-muted"><small>Bravery</small></label>
        <p th:text="${personalityInterview.bravery}"></p>

        <label class="text-muted"><small>Resilience</small></label>
        <p th:text="${personalityInterview.resilience}"></p>

        <label class="text-muted"><small>Hardworking</small></label>
        <p th:text="${personalityInterview.hardworking}"></p>

        <label class="text-muted"><small>Confidence</small></label>
        <p th:text="${personalityInterview.confidence}"></p>

        <label class="text-muted"><small>Open-mindedness</small></label>
        <p th:text="${personalityInterview.openMindedness}"></p>

        <label class="text-muted"><small>On/off Switch</small></label>
        <p th:text="${personalityInterview.onoffswitch}"></p>

        <label class="text-muted"><small>Lightheartedness</small></label>
        <p th:text="${personalityInterview.lightheartedness}"></p>

        <label class="text-muted"><small>Self-discipline</small></label>
        <p th:text="${personalityInterview.selfdiscipline}"></p>

        <label class="text-muted"><small>Ability to work with others</small></label>
        <p th:text="${personalityInterview.abilitytoworkwithothers}"></p>

        <label class="text-muted"><small>Competitiveness</small></label>
        <p th:text="${personalityInterview.competitiveness}"></p>

    </div>

    <br>

    <h3 id="testing">Testing Responses</h3>

    <div th:if="${physicalTest == null}">
        <p class="text-muted mt-3">
            This applicant has not completed their physical testing yet.
        </p>
    </div>
    <div th:if="${physicalTest != null}">

        <br>

        <h5 class="mb-4">Anthropometry</h5>

        <label class="text-muted"><small>Standing height of the athlete (in cm)</small></label>
        <p th:text="${physicalTest.standingheight}"></p>

        <label class="text-muted"><small>Weight of the athlete (in kg)</small></label>
        <p th:text="${physicalTest.weight}"></p>

        <label class="text-muted"><small>Armspan of the athlete (in cm)</small></label>
        <p th:text="${physicalTest.armspan}"></p>

        <h5 class="mb-4">Concept | Dyno</h5>

        <label class="text-muted"><small>Any injuries that will effect the testing?</small></label>
        <p th:text="${physicalTest.injuries}"></p>

        <label class="text-muted"><small>Best Legpress for 3 reps</small></label>
        <p th:text="${physicalTest.legpress}"></p>

        <label class="text-muted"><small>Best Armpress for 3 reps</small></label>
        <p th:text="${physicalTest.armpress}"></p>

        <label class="text-muted"><small>Best Armpull for 3 reps</small></label>
        <p th:text="${physicalTest.armpull}"></p>

        <label class="text-muted"><small>Best Armpullmax for 3 reps</small></label>
        <p th:text="${physicalTest.armpullmax}"></p>

        <h5 class="mb-4">Schwinn</h5>

        <label class="text-muted"><small>Athletes Score (from 1 to 100)</small></label>
        <p th:text="${physicalTest.score}"></p>

        <label class="text-muted"><small>Coach Observations for the athlete</small></label>
        <p th:text="${physicalTest.observations}"></p>

        <h5 class="mb-4">Core and Flexibility</h5>

        <label class="text-muted"><small>Basic score for Core</small></label>
        <p th:text="${physicalTest.basicscore}"></p>

        <label class="text-muted"><small>Notes on the basic score for Core</small></label>
        <p th:text="${physicalTest.notesonscore}"></p>

        <label class="text-muted"><small>Flexibility score</small></label>
        <p th:text="${physicalTest.flexibility}"></p>

        <label class="text-muted"><small>Notes on the flexibility score</small></label>
        <p th:text="${physicalTest.notesonflexibility}"></p>

        <h5 class="mb-4">Training History</h5>

        <label class="text-muted"><small>Training History / Previous Sports</small></label>
        <p th:text="${physicalTest.previoussports}"></p>

        <label class="text-muted"><small>Number of months training last year</small></label>
        <p th:text="${physicalTest.nummonthstraining}"></p>

        <label class="text-muted"><small>Number of training session per week including competitions</small></label>
        <p th:text="${physicalTest.numofsessionperweek}"></p>

        <label class="text-muted"><small>Number of endurance sessions per week</small></label>
        <p th:text="${physicalTest.numofendurancesessions}"></p>

        <label class="text-muted"><small>Number of strength sessions per week</small></label>
        <p th:text="${physicalTest.numofstrengthsessions}"></p>

        <label class="text-muted"><small>Numbers of years training at this level</small></label>
        <p th:text="${physicalTest.numofyearstraining}"></p>

        <label class="text-muted"><small>Next Stage for the athlete</small></label>
        <p th:text="${physicalTest.nextStage}"></p>

    </div>

</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>