<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Applicant Details</h1>
    <br>

    <div class="form-group">

        <label class="text-muted"><small>Name:</small></label>
        <p th:text="${applicant.firstName + ' ' + applicant.lastName}" class="font-weight-bold"></p>

        <label class="text-muted"><small>Email:</small></label>
        <p th:text="${user.email}"></p>

        <label class="text-muted"><small>Address:</small></label>
        <p th:text="${applicant.address}"></p>

        <label class="text-muted"><small>Postcode:</small></label>
        <p th:text="${applicant.postcode}"></p>

        <label class="text-muted"><small>Date of Birth:</small></label>
        <p th:text="${applicant.dob}"></p>

        <label class="text-muted"><small>Gender:</small></label>
        <p th:text="${applicant.gender}"></p>

        <label class="text-muted"><small>Phone Number:</small></label>
        <p th:text="${applicant.phoneNumber}"></p>

        <label class="text-muted"><small>Height:</small></label>
        <p th:text="${applicant.height}"></p>

        <label class="text-muted"><small>College/University:</small></label>
        <p th:text="${applicant.collegeOrUniversityName}"></p>

        <label class="text-muted"><small>Passport Holder</small></label>
        <p th:text="${applicant.passportHolder}"></p>

        <label class="text-muted"><small>Has been previously tested?</small></label>
        <p th:text="${applicant.isPreviouslyTested}"></p>

        <label class="text-muted"><small>Where did you hear about us?</small></label>
        <p th:text="${applicant.whereDidHear}"></p>

    </div>

    <br>

    <h3>Interview Results</h3>
    <br>

    <div th:if="${interview == null}">
        <p class="text-muted">
            This applicant has not completed their interview yet.
        </p>
    </div>
    <div th:if="${interview != null}">

        <label class="text-muted"><small>What to you is the difference between taking part and competing in sport? What does High Performance/Elite Sport mean?</small></label>
        <p th:text="${interview.elitesportdeff}"></p>

        <label class="text-muted"><small>What is your experience and feelings about sport to date?</small></label>
        <p th:text="${interview.sportexp}"></p>

        <label class="text-muted"><small>What are your aspirations? (in rowing and outside rowing)</small></label>
        <p th:text="${interview.aspirations}"></p>

        <label class="text-muted"><small>What can you bring to this high-performance training environment?</small></label>
        <p th:text="${interview.whatcanyoubring}"></p>

        <label class="text-muted"><small>What is the role of the coaches to you?</small></label>
        <p th:text="${interview.coachRole}"></p>

        <label class="text-muted"><small>What, if any, are potential barriers to your compliance and success on a programme like this?</small></label>
        <p th:text="${interview.possiblebarriers}"></p>

        <label class="text-muted"><small>What motivates you when training (from 1 to 10 where 10 is Outcome and 1 is Process)?</small></label>
        <p th:text="${interview.processoroutcome}"></p>

        <label class="text-muted"><small>What motivates you when training (from 1 to 10 where 10 is Extrinsic and 1 is Intrinsic)?</small></label>
        <p th:text="${interview.intrinsicorextrinsic}"></p>

        <label class="text-muted"><small>What does this opportunity mean to you?</small></label>
        <p th:text="${interview.opportunitymeaning}"></p>

        <label class="text-muted"><small>Do you have any role models? Why them?</small></label>
        <p th:text="${interview.rolemodels}"></p>

        <label class="text-muted"><small>Your story</small></label>
        <p th:text="${interview.yourstory}"></p>

</div>

    <br>

    <h3>Testing Results</h3>
    <p>Placeholder text...</p>

</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>