<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Application form results - Applicant list</h1>

    <table>
        <thead>
        <tr>
            <th>Applicant Name</th>
            <th>Applicant Email</th>
            <th>Applicant Age</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="applicant : ${applicant}">
              <td th:text="${applicant.getUserName()}">Applicant Name</td>
        <!--      <td th:text="${applicant.getEmail()}">Applicant Email</td>
              <td th:text="${applicant.getAll_other_info()}">Applicant Age </td>
              <td ><input id ="comments" type="text"/> </td> -->
          </tr>
        </tbody>
    </table>






</main>