<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="table container">

    <h1>All Applicants</h1>
    <br>

    <table width="100%">
        <thead>
        <tr>
            <td>Id</td>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Height</th>
            <th>Comments</th>
<!--            <th>Application Date</th>-->
            <th>Result</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>


<!--        <form action="#" method="post" th:action="@{/allApplicants/applicationForm}" th:object="${applicant}">-->
          <tr th:each="applicant : ${applicants}">
              <td><a th:href="@{/coach/applicant/{id}(id=${applicant.applicantId})}" th:text="${'#' + applicant.applicantId}"></a> </td>
              <td th:text="${applicant.firstName}">First Name</td>
              <td th:text="${applicant.lastName}">Last Name</td>
              <td th:text="${applicant.dob} " >DOB</td>
              <td th:text="${applicant.height}" >Height</td>
              <td>
                  <!--        /*@thymesVar id="applicant" type="com.team1.welshrowing.domain.Applicant"*/-->
<!--                  <form action ="#" method="post" th:action="@{/coach/applicant/save-comments/{id}(id=${applicant.applicantId})}">-->
<!--                      <input th:field="${applicant.comments}"></input>-->

                      <form th:action="@{/coach/applicant/save-comments/{id}(id=${applicant.applicantId})}" method="post" th:object="${applicant}">
                          <input type="text" th:value="*{comments}" id="comments" name="comments"/>
                      </form>
                      <button>Save</button>
                  </form>
              </td>
              <td th:text="${applicant.application_situation}">Result</td>

              <td>


                  <!--                  <form method="post" th:action="@{/coach/applicant/save-comments/{id}/{comments} (id=${applicant.applicantId},-->
                  <!--                   comments=${applicant.comments})}" th:object="${applicants}">-->
                  <!--                      <textarea rows = "3" name ="comment" th:text="${applicant.comments}"></textarea>-->
                  <!--                      <button type = "submit">save</button>-->
                  <!--                  </form>-->


                  <form action="#" method="post" th:action="@{/coach/applicant/accept/{id}(id=${applicant.applicantId})}" th:object="${applicants}">
                  <button class="btn btn-success">Accept</button>
                  </form>
                  <form action="#" method="post" th:action="@{/coach/applicant/reject/{id}(id=${applicant.applicantId})}" th:object="${applicants}">
                  <button class="btn btn-danger">Reject</button>
                  </form>
              </td>
          </tr>
        </form>

        </tbody>
    </table>
</main>
<footer th:replace="fragments/footer :: footer" ></footer>

<!--<script language="JavaScript">-->
<!--    function saveComment(){-->
<!--        document.getElementById('display_comment').innerHTML =-->
<!--            document.getElementById("comment").value;-->
<!--    }-->
<!--</script>-->


<!--<script type="text/JavaScript">-->
<!--    function saveComment(){-->
<!--        var comment = document.getElementById("comment").value;-->
<!--        display_comment.innerHTML= comment;-->
<!--    }-->
<!--</script>-->
<!--<script>-->
<!--    $(function() {-->
<!--        $("#coachcomment").keypress(function (e) {-->
<!--            if(e.which == 13) {-->
<!--                //submit form via ajax, this is not JS but server side scripting so not showing here-->
<!--                $("#commentbox").append($(this).val() + "<br/>");-->
<!--                $(this).val("");-->
<!--                e.preventDefault();-->
<!--            }-->
<!--        });-->
<!--    });</script>-->

</body>
</html>