<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="table container large">

    <h1>Successful Applicants</h1>
    <br>

    <table class="table table-striped" width="100%">

        <thead>
        <tr>
            <td></td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Postcode</td>
            <td>Date of Birth</td>
            <td>Height</td>
            <td>Gender</td>
            <td>X-Training</td>
            <td>Actions</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="applicant : ${applicants}">
            <td><a th:href="@{/coach/athlete/{id}(id=${applicant.applicantId})}" th:text="${'#' + applicant.applicantId}"></a></td>
            <td th:text="${applicant.firstName}"></td>
            <td th:text="${applicant.lastName}"></td>
            <td th:text="${applicant.postcode}"></td>
            <td th:text="${applicant.dob}"></td>
            <td th:text="${applicant.height}"></td>
            <td th:text="${applicant.gender}"></td>
            <td>
                <a th:href="@{/coach/x-training/{id}(id=${applicant.getUser().userId})}" class="btn btn-primary">X-Training</a>
            </td>
            <td>
                <a th:href="@{/coach/morning-monitoring/{id}(id=${applicant.getUser().userId})}" class="btn btn-primary">Morning Monitoring</a>
            </td>
            <td>
                <a th:href="@{/coach/applicant/feedback/{id}(id=${applicant.applicantId})}" class="far fa-envelope" style='font-size:24px'></a>
            </td>
        </tbody>
    </table>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>