<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="table">
<h1>Accepted Applicants</h1>

<table class="table table-striped">

    <thead>
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Phone Number</td>
        <td>Address</td>
        <td>Postcode</td>
        <td>College/University</td>
        <td>Date of Birth</td>
        <td>Height</td>
        <td>Gender</td>
        <td>Parent Email</td>
        <td>Passport Holder</td>
        <td>Previously Tested</td>
        <td>Where did hear</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="applicant : ${applicants}">
        <td th:text="${applicant.applicantId}"></td>
        <td th:text="${applicant.userName}"></td>
        <td th:text="${applicant.first_name}"></td>
        <td th:text="${applicant.last_name}"></td>
        <td th:text="${applicant.phone_number}"></td>
        <td th:text="${applicant.address}"></td>
        <td th:text="${applicant.postcode}"></td>
        <td th:text="${applicant.college_uni}"></td>
        <td th:text="${applicant.dob}"></td>
        <td th:text="${applicant.height}"></td>
        <td th:text="${applicant.gender}"></td>
        <td th:text="${applicant.parentgurdian_email}"></td>
        <td th:text="${applicant.passport_holder}"></td>
        <td th:text="${applicant.previouslytested}"></td>
        <td th:text="${applicant.wheredidhear}"></td>
    </tr>
    </tbody>
</table>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>