<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

    <main class="container">
        <h1>Dashboard</h1>

        <div class="alert alert-info" role="alert" >
            Hi <span th:text="${applicant.firstName}"></span>!
        </div>

        <p>The current status of your application is: </p>
        <div th:action="@{/applicant/dashboard}" th:object="${status}" method="get">
            <p th:text="${status}"> </p>
<!--            <script>-->
<!--                function displayStatus() {-->
<!--                    var text;-->
<!--                    // var status = document.getElementById("myInput")-->
<!--                    if (status === "Pending") {-->
<!--                        text = "blah"-->

<!--                    } else if (status === "Accepted") {-->

<!--                    } else if (status === "Rejected") {-->

<!--                    } else {print("uh oh")}-->
<!--                }-->

<!--            </script>-->
            </div>


</main>

</body>
</html>