<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="table container large">

<h1>Accepted Applicants</h1>
    <br>

<table class="table table-striped" width="100%">

    <thead>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Phone Number</td>
        <td>Address</td>
        <td>Postcode</td>
        <td>College/University</td>
        <td>Date of Birth</td>
        <td>Height</td>
        <td>Gender</td>
        <td>Previously Tested</td>
        <td>Actions</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="applicant : ${applicants}">
        <td><a th:href="@{/coach/applicant/{id}(id=${applicant.applicantId})}" th:text="${'#' + applicant.applicantId}"></a></td>
        <td th:text="${applicant.firstName}"></td>
        <td th:text="${applicant.lastName}"></td>
        <td th:text="${applicant.phoneNumber}"></td>
        <td th:text="${applicant.address}"></td>
        <td th:text="${applicant.postcode}"></td>
        <td th:text="${applicant.collegeOrUniversityName}"></td>
        <td th:text="${applicant.dob}"></td>
        <td th:text="${applicant.height}"></td>
        <td th:text="${applicant.gender}"></td>
        <td th:text="${applicant.isPreviouslyTested}"></td>
        <td><a th:href="@{/interview/{id}(id=${applicant.applicantId})}" class="btn btn-primary">Interview</a> <a th:href="@{/testing/{id}(id=${applicant.applicantId})}" class="btn btn-secondary">Testing</a></td>
    </tr>
    </tbody>
</table>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>