<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Application Form</h1>
    <br>

    <form action="#" method="post" th:action="@{/application/process}" th:object="${applicant}">

        <div class="form-group">
            <label th:for="firstName">First name:</label>
            <input th:field="*{firstName}" type="text" class="form-control" placeholder="Enter Firstname" required pattern="[[a-zA-Z\s]+"></input>
        </div>

        <div class="form-group">
            <label th:for="lastName">Last name:</label>
            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Enter Lastname" required pattern="[[a-zA-Z\s]+"></input>
        </div>

        <div class="form-group">
            <label th:for="phoneNumber">Phone number:</label>
            <input th:field="*{phoneNumber}" type="text" class="form-control" placeholder="Enter Phone number" required pattern="[0][789][0-9]{9}"></input>
        </div>

        <div class="form-group">
            <label th:for="address">Address:</label>
            <input th:field="*{address}" type="text" class="form-control" placeholder="Enter Address" required></input>
        </div>

        <div class="form-group">
            <label th:for="postcode">Postcode:</label>
            <input th:field="*{postcode}" type="text" class="form-control" placeholder="Enter Postcode"  required
                   pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})"></input>
        </div>

        <div class="form-group">
            <label th:for="collegeOrUniversityName">College/University:</label>
            <input th:field="*{collegeOrUniversityName}" type="text" class="form-control" placeholder="Enter College/University" required></input>
        </div>

        <div class="form-group">
            <label th:for="dob">Date of Birth:</label>
            <input th:field="*{dob}" type="date" class="form-control" placeholder="Enter Date of Birth" required></input>
        </div>

        <div class="form-group">
            <label th:for="height">Height:</label>
            <input th:field="*{height}" type="number" class="form-control" placeholder="Enter Height" required min="150" max="250"></input>
        </div>

        <div class="form-group">
            <label th:for="gender">Gender:</label>
            <Select th:field="*{gender}" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                <option value="Prefernottosay">Prefer Not To Say</option>
            </Select>
        </div>

<!--        <div class="form-group">-->
<!--            <label th:for="parentEmail">Parent Email:</label>-->
<!--            <input th:field="*{parentEmail}" type="text" class="form-control" placeholder="Enter Parent email"></input>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="passportHolder">Passport Holder:</label>-->
<!--            <input th:field="*{passportHolder}" type="text" class="form-control" placeholder="Enter Passport holder"></input>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label th:for="isPreviouslyTested">Have you been previously tested?</label>-->
<!--            <input th:field="*{isPreviouslyTested}" type="text" class="form-control" placeholder="Enter Yes/No"></input>-->
<!--        </div>-->

        <div class="form-group">
            <label th:for="whereDidHear">Where did you hear about us?</label>
            <input th:field="*{whereDidHear}" type="text" class="form-control" placeholder="Enter a reason" required></input>
        </div>

        <button id="register" name="register" type="submit" class="btn btn-primary">Register</button>
        <br>

    </form>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>
