<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <div class="alert alert-info" role="alert" th:unless="${hasCompletedMorningMonitoring == true}">
        Hi <span th:text="${applicant.firstName}">there</span>! You haven't completed your daily morning monitoring form yet.
        <strong>
            <a href="/athlete/morning-monitoring">Do it now!</a>
        </strong>
        <br>
    </div>

    <h1>Dashboard</h1>
    <br>

    <ul class="font-weight-bold">
        <li><a href="/athlete/morning-monitoring">Complete Morning Monitoring</a></li>
            <br>
        <li><a href="/athlete/RPE-form">Complete RPE Form</a></li>
    </ul>

    <br>
    <h4>Morning Monitoring</h4>
    <br>

    <canvas id="chart" width="100%" height="80"></canvas>

</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    const user = /*[[${applicant.getUser().userId}]]*/ '0';
    /*]]>*/
</script>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>