<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <div class="alert alert-success" role="alert" th:if="${hasCompletedMorningMonitoring == true}">
        Thanks for completing your daily morning monitoring form, <span th:text="${applicant.firstName}"></span>!
    </div>
    <div class="alert alert-info" role="alert" th:unless="${hasCompletedMorningMonitoring == true}">
        Hi <span th:text="${applicant.firstName}">there</span>! You haven't completed your daily morning monitoring form yet.
        <strong>
            <a href="/athlete/morning-monitoring">Do it now!</a>
        </strong>
    </div>
    <br>

    <h1>Dashboard</h1>
    <br>

    <ul class="font-weight-bold">
        <li>
            <a href="/athlete/morning-monitoring">Complete Morning Monitoring</a>
        </li>
    </ul>

</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>