<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

    <header th:replace="fragments/header :: header"></header>

    <main class="container">
        <h1>Page Title</h1>
        <p>Content goes here...</p>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>