<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

    <header th:replace="fragments/header :: header"></header>

    <main class="container">
        <h1>Welsh Rowing</h1>
        <br>
        <p>Welsh Rowing is the National Governing Body for rowing <em>(on rivers, the sea and indoors)</em> in Wales.</p>
        <p>Welsh Rowing works with Sport Wales to raise the awareness of, and participation, in rowing within Wales, as well as aiming to develop athletes for GB squads. We run a GB Start centre out of our base in Cardiff.</p>

        <br>
        <h4>Getting Started</h4>
        <br>
        <p><a th:href="@{/register}" class="font-weight-bold">Apply now</a> to get started with the application process.</p>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>