<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Interview Form</h1>
    <form action="#" method="post" th:action="@{/interview/process}" th:object="${interview}">

        <br>
            <label th:for="Name">Name:</label>
            <input th:field="*{name}" type="text"></input>
        <br>

        <br>
            <label th:for="elitesportdeff">What to you is the difference between taking part and competing in sport?What does High Performance/Elite Sport mean? </label>
            <input th:field="*{elitesportdeff}" type="text"></input>
        <br>

        <br>
            <label th:for="Sportexp">What is your experience and feelings about sport to date? </label>
            <input th:field="*{sportexp}" type="text"></input>
        <br>

        <br>
            <label th:for="Aspirations">What are your aspirations? (in rowing and outside rowing) </label>
            <input th:field="*{aspirations}" type="text"></input>
        <br>

        <br>
            <label th:for="Whatcanyoubring">What can you bring to this high-performance training environment?</label>
            <input th:field="*{whatcanyoubring}" type="text"></input>
        <br>

        <br>
            <label th:for="CoachRole">What is the role of the coaches to you?</label>
            <input th:field="*{coachRole}" type="text"></input>
        <br>

        <br>
            <label th:for="Possiblebarriers">What, if any, are potential barriers to your compliance and success on a programme like this?</label>
            <input th:field="*{possiblebarriers}" type="text"></input>
        <br>

        <br>
        <label th:for="Processoroutcome">What motivates you when training?</label>
        <input th:field="*{processoroutcome}" type="number"></input>
        <br>

        <br>
        <label th:for="Intrinsicorextrinsic">What motivates you when training?</label>
        <input th:field="*{intrinsicorextrinsic}" type="number"></input>
        <br>

        <br>
        <label th:for="Processoroutcomecomp">What motivates you when competing?</label>
        <input th:field="*{processoroutcomecomp}" type="number"></input>
        <br>

        <br>
        <label th:for="Intrinsicorextrinsiccomp">What motivates you when competing?</label>
        <input th:field="*{intrinsicorextrinsiccomp}" type="number"></input>
        <br>

        <br>
            <label th:for="Opportunitymeaning">What does this opportunity mean to you?</label>
            <input th:field="*{opportunitymeaning}" type="text"></input>
        <br>

        <br>
        <label th:for="Rolemodels">Do you have any role models? Why them?</label>
        <input th:field="*{rolemodels}" type="text"></input>
        <br>

        <br>
        <label th:for="Yourstory">Your story</label>
        <input th:field="*{yourstory}" type="text"></input>
        <br>

        <br>
            <button id="Submit" name="Submit" type="submit">Register</button>
        <br>
 </main>

    <footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>
