<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <link th:href="@{/css/interviewform.css}" rel="stylesheet" />

    <h1>Physical Testing Form</h1>
    <form action="#" method="post" th:action="@{/physical-test/process}" th:object="${physicaltest}">

        <input type="hidden" th:name="applicantId" th:value="${physicaltest.applicantId}" />

        <br>
        <h3>Athlete Information</h3>
        <br>
        <div class="form-group">
            <label th:for="Coachtesting">Coachtesting:</label>
            <select th:field="*{coachtesting}" class="form-control" type="text">
                <option value="Emily Doherty">Emily Doherty</option>
                <option value="James Jones">James Jones</option>
                <option value="Peter Andrews">Peter Andrews</option>
            </select>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Dateoftest">Date of test : </label>
            <input th:field="*{dateoftest}" class="form-control" type="date" required></input>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Nameofathlete"> Name of athlete : </label>
            <input th:field="*{nameofathlete}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
            <label th:for="DOB">Date of Birth of the athlete :  </label>
            <input th:field="*{DOB}" class="form-control" type="date" required></input>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Gender">Gender of the athlete</label>
            <Select th:field="*{gender}" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                <option value="Prefernottosay">Prefer Not To Say</option>
            </Select>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Email">Email of the athlete : </label>
<!--            pattern taken from https://www.w3schools.com/tags/att_input_pattern.asp-->
            <input th:field="*{email}" class="form-control" type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></input>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Homeaddress">Homeaddress of the athlete : </label>
            <input th:field="*{homeaddress}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
            <label th:for="Postcode">PostCode of the athlete : </label>
            <input th:field="*{postcode}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Universityaddress">Universityaddress of the athlete : </label>
        <input th:field="*{universityaddress}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Mobilephonenumber">Mobilephonenumber of the athlete : </label>
        <input th:field="*{mobilephonenumber}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Homephonenumber">Homephonenumber of the athlete : </label>
        <input th:field="*{homephonenumber}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Schoolorcluboruniversity">School/Club/University</label>
        <input th:field="*{schoolorcluboruniversity}" class="form-control" type="text" required></input>
        </div>
        <br>

        <h3>Parent/Guardian Details</h3>
        <br>
        <div class="form-group">
        <label th:for="Nameofparent">Name of parent :</label>
        <input th:field="*{nameofparent}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Relationshiptoathlete">Relationship to the athlete : </label>
        <input th:field="*{relationshiptoathlete}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Nameofathlete"> Name of athlete : </label>
        <input th:field="*{nameofathlete}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Contactphone">Contact phone number :  </label>
        <input th:field="*{contactphone}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Emailofguardian">Email of the guardian : </label>
        <input th:field="*{emailofguardian}" class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></input>
        </div>
        <br>


        <h3>Anthropometry</h3>
        <br>
        <div class="form-group">
        <label th:for="Standingheight">Standing height of the athlete (in cm) : </label>
        <input th:field="*{standingheight}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Weight">Weight of the athlete (in kg): </label>
        <input th:field="*{weight}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Armspan">Armspan of the athlete (in cm) : </label>
        <input th:field="*{armspan}" class="form-control" type="number" required></input>
        </div>
        <br>

        <h3>Concept | Dyno</h3>
        <br>
        <div class="form-group">
        <label th:for="Injuries">Any injuries that will effect the testing?</label>
        <input th:field="*{injuries}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Legpress">Best Legpress for 3 reps :</label>
        <input th:field="*{legpress}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Armpress">Best Armpress for 3 reps : </label>
        <input th:field="*{armpress}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Armpull"> Best Armpull for 3 reps : </label>
        <input th:field="*{armpull}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Armpullmax">Best Armpullmax for 3 reps :  </label>
        <input th:field="*{armpullmax}" class="form-control" type="number" required></input>
        </div>
        <br>

        <h3>Schwinn</h3>
        <br>
        <div class="form-group">
        <label th:for="Score">Athletes Score (from 1 to 100)</label>
        <input th:field="*{score}" class="form-control" type="number" min="1" max="100" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Observations">Coach Observations for the athlete : </label>
        <input th:field="*{observations}" class="form-control" type="text" required></input>
        </div>
        <br>

        <h3>Core and flexibility</h3>
        <br>
        <div class="form-group">
        <label th:for="Basicscore">Basic score for Core : </label>
        <input th:field="*{basicscore}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Notesonscore">Notes on the basic score for Core : </label>
        <input th:field="*{notesonscore}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Flexibility">Flexibility score : </label>
        <input th:field="*{flexibility}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="Notesonflexibility">Notes on the flexibility score : </label>
        <input th:field="*{notesonflexibility}" class="form-control" type="text" required></input>
        </div>
        <br>

        <h3>Training History</h3>
        <br>
        <div class="form-group">
<!--        Check wording of question-->
        <label th:for="Previoussports">Training History / Previous Sports </label>
        <input th:field="*{previoussports}" class="form-control" type="text" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="nummonthstraining">Number of months training last year :</label>
        <input th:field="*{nummonthstraining}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="numofsessionperweek">Number of training session per week including competitions : </label>
        <input th:field="*{numofsessionperweek}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="numofendurancesessionse"> Number of endurance sessions per week : </label>
        <input th:field="*{numofendurancesessions}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="numofstrengthsessions">Number of strength sessions per week :  </label>
        <input th:field="*{numofstrengthsessions}" class="form-control" type="number" required></input>
        </div>
        <br>

        <div class="form-group">
        <label th:for="numofyearstraining">Numbers of years training at this level</label>
        <input th:field="*{numofyearstraining}" class="form-control" type="number" required></input>
        </div>
        <br>

        <h3>Follow up</h3>
        <div class="form-group">
        <label th:for="NextStage">Next Stage for the athlete : </label>
        <input th:field="*{nextStage}" class="form-control" type="text" required></input>
        </div>
        <br>
            <button id="Submit" class="btn btn-primary" name="Submit" type="submit">Register</button>
        <br>
 </main>

    <footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>
