<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1>Sign Up:</h1>

<form action="#" method="post" th:action="@{/register/process}" th:object="${user}">

    <br>
    <label th:for="userName">Username:</label>
    <input th:field="*{userName}" type="text"></input>
    <br>

    <br>
    <label th:for="user_type">User Type:</label>
    <input th:field="*{user_type}" type="text"></input>
    <br>

    <br>
    <label th:for="email">Email:</label>
    <input th:field="*{email}" type="email"></input>
    <br>

    <br>
    <label th:for="password">Password:</label>
    <input th:field="*{password}" type="password"></input>
    <br>

    <br>
    <button id="register" name="register" type="submit">Register</button>
    <br>
</form>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>