<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<main class="table container large">

    <h1>X-Training</h1>
    <br>

    <table class="table table-striped" width="100%">

        <thead>
        <tr>
            <td>Date</td>
            <td>Type</td>
            <td>Total Time</td>
            <td>Total Distance</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="xtraining : ${xtrainings}">
            <td th:text="${xtraining.dateOfTraining}"></td>
            <td th:text="${xtraining.typeOfTraining}"></td>
            <td th:text="${xtraining.totalTimeOfTraining}"></td>
            <td th:text="${xtraining.totalDistanceOfTraining}"></td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:replace="fragments/footer :: footer" ></footer>

</body>
</html>